body{
  background-color: #F6F6F6;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  width: 10%;
  border-width: 10px;
}
h1{
  color: #8785A2;
}
h3{
  color: #8785A2;
}
p{
  color: Black;
}
